<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Messages</title>
</head>
<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<p th:text="${message.getDate()}">VALUE</p>
<h2 th:text="${message.getTopic()}">VALUE</h2>
<p th:text="${'From: ' + message.getSender()}">VALUE</p>
<p th:text="${'To: ' + message.getReceivers()}">VALUE</p>
<p></p>
<p th:text="${message.getContent()}">VALUE</p>

<div th:each="attach : ${message.getAttachments()}">
    <a th:href="@{{id}/download?name={name}&id1={id1}(id=${message.getMessageID()}, name=${attach.getName()}, id1=${attach.getID()})}">
        <i class="fa fa-download"></i>
        <span th:text="${attach.getName()}"></span>
    </a>
</div>

</body>
</html>