<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New message</title>
</head>
<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<form th:method="POST" th:action="@{/messages}" th:object="${message}" enctype="multipart/form-data">
    <label for="receivers">Send to: </label>
    <input type="text" th:field="*{receiversString}" id="receivers"/>
    <div style="color:red" th:if="${#fields.hasErrors('receivers')}" th:errors="*{receivers}">Receivers Error</div>
    <br/>
    <label for="topic">Topic: </label>
    <input type="text" th:field="*{topic}" id="topic"/>
    <div style="color:red" th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}">Topic Error</div>
    <br/>
    <label for="content"></label>
    <input type="text" th:field="*{content}" id="content" size="100"/>
    <div style="color:red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</div>
    <br/>

    <div>
    <label>Add attachment: </label>
    <input type="file" name="file"/>
    </div>

    <br/>
    <input type="submit" value="Send!"/>
</form>

</body>
</html>